<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>

<section id="CV">
        <h2>CV</h2>
        <p>Click <a href="https://drive.google.com/file/d/1RvsPt9lOZE56_aTHJzcj6ScqunlNt1b0/view?usp=sharing" target="_blank">here</a> to view my CV.</p>
    </section>

<section id="projects">
        <h2>My Projects</h2>
        <p>Check out the <a href="https://github.com/apapath/Data-Analysis-Projects" target="_blank">projects</a> that I've worked on.</p>
    </section>
